html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
p {
  font-size: 1.4rem;
}
.topnav {
  overflow: hidden;
  background-color: #0A1128;
}

.child-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #02305c;
  text-align: left;
}

body {
  margin: 0;
}
.content {
  padding: 5%;
}
.card-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(3fr, 1fr));
}
.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078
}
.chart-container {
  padding-right: 5%;
  padding-left: 5%;
}
.control-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #4CAF50; 
  color: #000000; 
  border-radius: 6px;
}

.button1:hover {
  background-color: #357c37;
  color: white;
}


.button2 {
  background-color: #d43c3c; 
  color: #000000; 
  border-radius: 6px;
}

.button2:hover {
  background-color: #9c3b3b;
  color: white;
}